<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <p>ヘッダーが入る</p>
    </header>
    <main>
        <h2>BID THIS AUCTION</h2>
        <h3>車名</h3>

        <!-- 画像 -->
        <article>
            <p>画像表示エリア</p>
        </article>

        <!-- オークション情報 -->
        <article>
            <section>
                <h4>開始価格</h4>
                <p>XXX 万円</p>
            </section>

            <section>
                <h4>入札件数</h4>
                <p>XXX 件</p>
            </section>

            <section>
                <h4>現在落札価格</h4>
                <p>XXX 万円</p>
            </section>

            <section>
                <h4>残り時間</h4>
                <p>X 分 X 秒</p>
            </section>

            <section>
                <p>※開始価格には、整備費用を含みます。</p>
                <p>※落札価格によって価格は変動します。</p>
                <p>※落札後、当社の社員がお電話いたします。</p>
                <p>※落札後、キャンセルされる場合はキャンセル料が発生します。</p>
            </section>

        </article>

        <!-- 入札部分 -->
        <article>
            <table>
                <tr>
                    <td>現在落札価格</td>
                    <td>XX 万円</td>
                </tr>
                <tr>
                    <td>あなたの入札価格</td>
                    <td>XX 万円</td>
                </tr>
            </table>
            <p>現在あなたが暫定落札者です</p><!-- 落札者のときは表示 -->
            <form id="myform" action="" method="">
                <label>
                    ￥ <input type="text" name="">
                </label>
                <input type="submit" name="buton" value="この価格で入札する">
            </form>
        </article>

        <article>
            <section>
                <h3>基本情報</h3>
                <table>
                    <tr>
                        <td>メーカー</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>車種名</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>形状</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>年式</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>排気量</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>モデル</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>グレード</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>燃料</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>型式</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>定員</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>駆動方式</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>走行距離</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>外装色</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>内装色</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nox期限</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>検査期限</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>名変期限</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>エアバッグ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>車歴</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>種別区分番号</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>修理歴</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>評価点</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>外装評価</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>内装評価</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>仕入れ金額</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>状態コメント</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>アピールポイント</td>
                        <td></td>
                    </tr>

                </table>
            </section>
        </article>

    </main>
    <footer>
        <p>フッターが入る</p>
    </footer>
</body>

</html>